@page
@model BookListRazor.Pages.BookList.IndexModel

<div class="container p-0 m-0 ">
    <div class="row">
        <div class="col-10">
            <h2 class="text-info">Book List</h2>
        </div>
        <div class="col-2">
            <a asp-page="Create" class="btn btn-info form-control text-white">Create New Book</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border p-3 mt-3">
            <form method="post">
                @if (Model.Books.Count() > 0)
                {
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                <label asp-for="Books.FirstOrDefault().Name"></label>
                            </th>
                            <th>
                                @*@Html.DisplayNameFor( m => m.Books.FirstOrDefault().Author)*@
                                <label asp-for="Books.FirstOrDefault().Author"></label>
                            </th>
                            <th>
                                <label asp-for="Books.FirstOrDefault().ISBN"></label>
                            </th>
                            <th>
                            </th>
                        </tr>
                        @foreach (var item in Model.Books)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Author)
                                </td>                                
                                <td>
                                    @Html.DisplayFor(m => item.ISBN)
                                </td>
                                <td>
                                    <button asp-page-handler="Delete" asp-route-id="@item.id" class="btn delete btn-danger btn-sm mr-3">Delete</button>
                                    <a asp-page="Edit" asp-route-id="@item.id" class="btn btn-primary btn-sm">Edit </a>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>No Books to display</p>
                }
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deletePopup() {
        return confirm('are you sure you want to delete?');
    }

    classOnClick("delete", function (e) {
        deletePopup();
    });
</script>
